* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    cursor: pointer;
}

.calc-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 20vw;
    margin: 10px auto;
}

.display {
    border: 1px solid black;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: large;
}

.display button {
    width: 30px;
    height: 20px;
}

.operation-container {
    display: flex;
    height: 70%;
}

.digits {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 1px;
}

.digit {
    width: 5vw;
    flex: auto;
}

.operators {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 1px;
}

.operator {
    flex: auto;
}