@font-face {
  font-family: "Calculator";
  src: url("./fonts/Calculator.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Calculator";

}

body {
  background-color: rgb(127, 129, 131);
}

button {
  cursor: pointer;
  color: white;
  border-radius: 6px;
  border: none;
  font-size: 30px;
}

.calc-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 40vw;
  margin: 10px auto;
  background-color: rgb(71, 71, 71);
  border-radius: 8px;
  padding: 15px;
}

.display {
  border: 1px solid black;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 5px solid black;
  border-radius: 6px;
  margin-bottom: 10px;
  background-color: green;
  padding: 3px;
}

.display p {
  margin-left: auto;
  color: white;
  font-weight: 700;
}

#number {
  height: 62px;
  font-size: 62px;
}

#full-operation {
  font-size: 32px;
}

.operation-container {
  display: flex;
  height: 70%;
  gap: 4px;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.options-and-digits {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 4px;
}

.options-and-digits button {
  width: 7vw;
  flex: auto;
  background-color: rgb(44, 44, 44);
}

.operators {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 4px;
}

.operator {
  flex: auto;
  background-color: rgb(137, 137, 138);
}

.equal {
  flex: auto;
    background-color: rgb(228, 228, 228);
    color: black;
}